.*.cfg
.coverage
.idea/
.installed.cfg
.mr.developer.cfg
.vscode/
*.egg
*.egg-info
*.log
*.map
*.mo
*.py?
*.pyc
*.pyo
*.swp
*.tmp*
bin/
build/
buildout-cache/
develop-eggs/
dist/
downloads/
eggs/
fake-eggs/
htmlcov/
include/
lib/
lib64
local/
log.html
node_modules/
output.xml
parts/
pip-selfcheck.json
report.html
share/
src/*
temp_resources
var/

!.coveragerc
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.travis.yml
!src/plonetheme